---
import { Author, Rating, RelationResourceTag, Resource, ResourceType, Tag, TagType, db, eq } from 'astro:db';
import Layout from '@layouts/Layout.astro';
import ResourceFilter from '@components/ResourceFilter.astro';
//import ResourceList from '@components/ResourceList.astro';

const allResourcesDetailed = await db
	.select()
	.from(Resource)
	.leftJoin(ResourceType, eq(Resource.resource_type_id, ResourceType.id))
	.leftJoin(Author, eq(Resource.author_id, Author.id));
const allRatings = await db.select().from(Rating);
const allResourceTags = await db.select().from(RelationResourceTag).leftJoin(Tag, eq(RelationResourceTag.tag_id, Tag.id)).leftJoin(TagType, eq(Tag.tag_type_id, TagType.id));

const resources = allResourcesDetailed.map(({ Resource, ResourceType, Author }) => {
	const filteredRatings = allRatings.filter((rating) => rating.resource_id === Resource.id);
	const totalRating = filteredRatings.reduce((acc, rating) => acc + rating.rating, 0);
	const averageRating = totalRating / filteredRatings.length;

	const filteredTags = allResourceTags.filter(({ RelationResourceTag }) => RelationResourceTag.resource_id === Resource.id);

	return {
		params: { lang: undefined, slug: Resource.slug },
		props: {
			...Resource,
			type: ResourceType?.title,
			authorName: Author?.name,
			authorUrl: Author?.url,
			aggregateRating: averageRating,
			ratingCount: filteredRatings.length,
			tags: { ...filteredTags },
		},
	};
});

const pageTitle = 'Caută pe Resurse.dev';
const pageDescription = '@TODO: scrie descrierea';
const breadcrumbArray = [
	{
		href: Astro.url,
		title: pageTitle,
		label: 'Caută',
	},
];
---

<Layout title={pageTitle} description={pageDescription} template="SectionPageIndex" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Caută pe Resurse.dev</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: index de resurse - listează cu paginație toate resursele?
		<ResourceFilter />
		<pre>
			{JSON.stringify(resources, null, 4)}
		</pre>
		{
			/*
		<ResourceList resources={resources} pageTitle={pageTitle} />
		*/
		}
	</main>
</Layout>
