---
// export const prerender = false;

import Layout from '../layouts/Layout.astro';
import { createClient } from '@supabase/supabase-js';
const supabaseUrl = import.meta.env.SUPABASE_URL;
const supabaseKey = import.meta.env.SUPABASE_ANON_KEY;
const supabase = createClient(supabaseUrl, supabaseKey);

// console.log(supabase);

let { data: resources, error } = await supabase.from('resources').select('url,title').range(0, 9);

if (error) console.log(error);

// console.log(resources,error);

//import { supabase } from '../lib/supabase';

const pageTitle = 'Test';
const pageDescription = '@TODO: scrie descrierea';
const breadcrumbArray = [
	{
		href: Astro.url,
		title: pageTitle,
		label: 'Test',
	},
];
---

<Layout title={pageTitle} description={pageDescription} template="TestPage" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Bine-ai venit în contul tău</h1>
		</div>
	</div>
	<main class="Main">
		<ul>
			{
				resources?.map((r) => (
					<li>
						<a href={r.url}>{r.title}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
