---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ResourceList from '../../components/ResourceList.astro';

export async function getStaticPaths () {
	const tags = (await getCollection('tags')).sort((a, b) => (new Date(a.data.title).valueOf() - new Date(b.data.title).valueOf())); // ordering by sortOrder asc
	return tags.map(tag => ({
		params: { slug: tag.slug },
		props: { tag }
	}));
}

const { slug } = Astro.params;
const { tag } = Astro.props;
const { Content } = await tag.render();

const resources = (await getCollection("resources", ({data}) => {
	return data.tags.find((t) => t.slug == tag.slug);
})).sort((a, b) => (new Date(a.data.modDate as string).valueOf() - new Date(b.data.modDate as string).valueOf())) as CollectionEntry<"resources">[];

const breadcrumbArray = [{
	href: "/taguri",
	title: "Tag-uri",
	label: "Tag-uri"
},{
	href: Astro.url,
	title: tag.data.title,
	label: tag.data.title
}];

---
<Layout title={`Tag: ${tag.data.title}`} description={tag.data.description} template="TagIndex" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Tag: {tag.data.title}</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: desenează layout în Figma pentru pagina asta
		@TODO: Completează conținutul paginii curente
		{slug}
		<Content />
		<ResourceList resources={resources} />
	</main>
</Layout>
