---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allTags = await getCollection('tags');

const pageTitle = 'Toate etichetele de pe Resurse.dev';
const pageDescription = '@TODO: scrie descrierea';
const breadcrumbArray = [
	{
		href: Astro.url,
		title: pageTitle,
		label: 'Tag-uri',
	},
];
---

<Layout title={pageTitle} description={pageDescription} template="TagIndex" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Etichetele resurselor</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: desenează layout în Figma pentru pagina asta @TODO: Completează conținutul paginii curente
		<ul>
			{
				allTags.map((tag: any) => (
					<li>
						<a href={`/taguri/${tag.slug}`}>{tag.data.title}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
