---
/**
 * Astro component for including analytics tracking.
 * @component
 * @example
 * ```astro
 * <Analytics />
 * ```
 * @returns {astro.AstroNode} The Astro component for analytics tracking.
 */

//import { CLARITY_ID, ENV, PIWIK_ID } from '../config';
import { SimpleAnalytics } from 'astro-simpleanalytics-plugin';
import PostHog from '../components/PostHog.astro';
import SpeedInsights from '@vercel/speed-insights/astro';

/*
const clarity_id = CLARITY_ID;
const piwik_id = PIWIK_ID;
*/

// @TODO: analyze whether we need light or latest SA script: https://docs.simpleanalytics.com/light

---

<SimpleAnalytics
	debug={false}
	allEnvironments={true}
	partytown={false}
	light={false}
	collectDNT={true}
	strictUTMs={false}
	allowParams={undefined}
	customHostname={undefined}
	customDomain={undefined}
	ignorePages={undefined}
	nonUniqueHostnames="fastspring.com,stripe.com"
	ignoreMetrics={undefined}
/>

<PostHog />
{/* @ts-ignore */}
<SpeedInsights />

{/*(ENV !== 'local' && ENV !== 'development') && (
	<div class="Information">

		<script is:inline define:vars={{ clarity_id }} async defer type="text/partytown">
			(function (c, l, a, r, i, t, y) {
				// @ts-ignore
				c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
				// @ts-ignore
				t = l.createElement(r);
				// @ts-ignore
				t.async = 1;
				// @ts-ignore
				t.src = "https://www.clarity.ms/tag/" + i;
				// @ts-ignore
				y = l.getElementsByTagName(r)[0];
				// @ts-ignore
				y.parentNode.insertBefore(t, y);
				// @ts-ignore
			})(window, document, "clarity", "script", clarity_id);
		</script>

		<script is:inline define:vars={{ piwik_id }} async defer type="text/partytown">
			(function (window, document, dataLayerName, id) {
				// @ts-ignore
				window[dataLayerName] = window[dataLayerName] || [], window[dataLayerName].push({ start: (new Date).getTime(), event: "stg.start" });
				var scripts = document.getElementsByTagName('script')[0], tags = document.createElement('script');
				// @ts-ignore
				function stgCreateCookie(a, b, c) {
					var d = "";
					if (c) {
						var e = new Date;
						e.setTime(e.getTime() + 24 * c * 60 * 60 * 1e3), d = "; expires=" + e.toUTCString();
						// @ts-ignore
						f = "; SameSite=Strict";
					}
					// @ts-ignore
					document.cookie = a + "=" + b + d + f + "; path=/";
				}
				var isStgDebug = (window.location.href.match("stg_debug") || document.cookie.match("stg_debug")) && !window.location.href.match("stg_disable_debug");
				stgCreateCookie("stg_debug", isStgDebug ? 1 : "", isStgDebug ? 14 : -1);
				var qP = [];
				dataLayerName !== "dataLayer" && qP.push("data_layer_name=" + dataLayerName), isStgDebug && qP.push("stg_debug");
				var qPString = qP.length > 0 ? ("?" + qP.join("&")) : "";
				// @ts-ignore
				tags.async = !0, tags.src = "https://viorelmocanu.containers.piwik.pro/" + id + ".js" + qPString, scripts.parentNode.insertBefore(tags, scripts);
				// @ts-ignore
				!function (a, n, i) {
					// @ts-ignore
					a[n] = a[n] || {};
					// @ts-ignore
					for (var c = 0; c < i.length; c++)!function (i) {
						// @ts-ignore
						a[n][i] = a[n][i] || {}, a[n][i].api = a[n][i].api || function () {
							// @ts-ignore
							var a = [].slice.call(arguments, 0);
							// @ts-ignore
							"string" == typeof a[0] && window[dataLayerName].push({ event: n + "." + i + ":" + a[0], parameters: [].slice.call(arguments, 1) });
						}
					}(i[c])
				}(window, "ppms", ["tm", "cm"]);
				// @ts-ignore
			})(window, document, 'dataLayer', piwik_id);
		</script>

	</div>
)*/}
