---
/**
 * Astro component for including analytics tracking.
 * @component
 * @example
 * ```astro
 * <Analytics />
 * ```
 * @returns {astro.AstroNode} The Astro component for analytics tracking.
 */

import PostHog from '@components/PostHog.astro';
import { SimpleAnalytics } from 'astro-simpleanalytics-plugin'; // @TODO: analyze whether we need light or latest SA script: https://docs.simpleanalytics.com/light
import SpeedInsights from '@vercel/speed-insights/astro';

//const currentPage = Astro.url.pathname;

---

<SimpleAnalytics
	debug={false}
	allEnvironments={true}
	partytown={false}
	light={false}
	collectDNT={true}
	strictUTMs={false}
	allowParams={undefined}
	customHostname={undefined}
	customDomain={undefined}
	ignorePages={undefined}
	nonUniqueHostnames="fastspring.com,stripe.com"
	ignoreMetrics={undefined}
/>

<PostHog />
{/* @ts-ignore */}
<SpeedInsights />

{/*(ENV !== 'local' && ENV !== 'development') && (
	<div class="Information">

	</div>
)*/}

<!-- @TODO: make this work towards tracking visits of logged vs nonlogged people on each page -->
<!--img src={`/api/hit?page=${currentPage}`} loading="eager" aria-hidden="true" alt="Hit pixel" width="1" height="1" /-->
