---
const { template } = Astro.props;
import { getEntry } from 'astro:content';
let { slug } = Astro.params;
if (slug === undefined) {
  slug = Astro.url.pathname;
}

let level,
	section = {title: '', slug: ''},
	category = {title: '', slug: ''},
	resource = {title: '', slug: ''};
switch ( template ) {
	case 'ResourcePage':
		level = 3;
		section.title = "";
		section.slug = "/";
		category.title = "";
		category.slug = "/";
		resource.title = "";
		resource.slug = "/";
		break;
	case 'CategoryPage':
		level = 2;
		section.title = "";
		section.slug = "/";
		category.title = "";
		category.slug = "/";
		break;
	case 'SectionPage':
		level = 1;
		const currentSection = await getEntry('sections', slug);
		section.title = currentSection?.data.menu;
		section.slug = currentSection?.slug;
		break;
	default:
		level = 0;
}
---

<nav class="Breadcrumbs">
	<ol class="BreadcrumbList" itemscope itemtype="https://schema.org/BreadcrumbList">
		<li class="BreadcrumbItem" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class="BreadcrumbLink" itemprop="item" href="/" title="Întoarce-te pe prima pagină a site-ului Resurse.dev">
				<span class="DesktopOnlyBlock" itemprop="name">Prima pagină</span>
				<icon class="Icon IconHome">
					<span class="SROnly">🏠</span>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
					</svg>
				</icon>
			</a>
			<meta itemprop="position" content="1" />
		</li>
		{level >= 1 && <li class="BreadcrumbItem" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class="BreadcrumbLink" itemprop="item" href=`/${section.slug}` title=`Mergi înapoi la pagina ${section.title}`>
				<span class="LinkText" itemprop="name">{section.title}</span>
				<meta itemprop="position" content="2" />
			</a>
		</li> }
		{level >= 2 && <li class="BreadcrumbItem" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class="BreadcrumbLink" itemprop="item" href=`/${category.slug}` title=`Mergi înapoi la pagina ${category.title}`>
				<span class="LinkText" itemprop="name">{category.title}</span>
				<meta itemprop="position" content="3" />
			</a>
		</li> }
		{level >= 3 && <li class="BreadcrumbItem" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class="BreadcrumbLink" itemprop="item" href=`/${resource.slug}` title=`Mergi înapoi la pagina ${resource.title}`>
				<span class="LinkText" itemprop="name">{resource.title}</span>
				<meta itemprop="position" content="4" />
			</a>
		</li> }
	</ol>
</nav>