---
import { getCollection } from 'astro:content';
import NewsletterSection from "../components/NewsletterSection.astro";
const activePage = Astro.url.pathname;
const currentYear = new Date().getFullYear();
const yearPrint = currentYear > 2023 ? ` - ${currentYear} ` : " ";
const allSections = (await getCollection('sections', ({data}) => {
	return data.sortOrder >= 0; // negative sort orders removes sections altogether
})).sort((a, b) => a.data.sortOrder - b.data.sortOrder); // ordering by sortOrder asc
---

<NewsletterSection />

<footer class="Footer">
	<div class="FooterMeta">
		<a class="FooterHomepageLink" href="/" title="Mergi înapoi pe prima pagină a site-ului Resurse.dev">resurse.dev</a>
		<p class="Copyright">Copyright &copy; 2023{yearPrint} <a href="https://www.viorelmocanu.ro/" title="Vezi site-ul personal al lui Viorel Mocanu">Viorel Mocanu</a> și <a href="https://discord.com/invite/UpnAutz" title="Vizitează comunitatea de Discord: Carieră în IT">comunitatea de Discord Carieră în IT</a>.</p>
	</div>
	<ul class="FooterList">
		{
			allSections.map((section) => (
				<li class={activePage.startsWith(`/${section.slug}`) ? 'FooterItem Active' : 'FooterItem'}>
					<a class="FooterLink" href=`/${section.slug}` title=`Vezi exclusiv lista de ${section.data.title}`>{section.data.menu}</a>
				</li>
			))
		}
	</ul>
	<ul class="FooterList">
		<li class="FooterItem">
			<a class="FooterLink" href="https://github.com/ViorelMocanu/digital-resources" title="Vizitează proiectul de GitHub pe care se găsesc sursele acestui website">Proiectul de GitHub</a>
		</li>
		<li class={activePage === '/termeni-si-conditii' ? 'FooterItem Active' : 'FooterItem'}>
			<a class="FooterLink" href="/termeni-si-conditii" title="@TODO">Termeni și condiții</a>
		</li>
		<li class={activePage === '/confidentialitate' ? 'FooterItem Active' : 'FooterItem'}>
			<a class="FooterLink" href="/confidentialitate" title="@TODO">Politică de confidențialitate</a>
		</li>
		<li class={activePage === '/cookies' ? 'FooterItem Active' : 'FooterItem'}>
			<a class="FooterLink" href="/cookies" title="@TODO">Politică de cookies</a>
		</li>
		<li class={activePage === '/faq' ? 'FooterItem Active' : 'FooterItem'}>
			<a class="FooterLink" href="/faq" title="@TODO">Întrebări frecvente</a>
		</li>
		<li class={activePage === '/contact' ? 'FooterItem Active' : 'FooterItem'}>
			<a class="FooterLink" href="/contact" title="@TODO">Contact</a>
		</li>
	</ul>
</footer>
