---
/**
 * Renders a navigation menu based on the provided headings.
 * @component
 * @example
 * ```astro
 * <MarkdownTOC headings={myHeadings} />
 * ```
 * @property {Headings} [Headings] props.headings - The list of heading objects.
 * @returns {astro.AstroNode} - The rendered navigation menu.
 */

import { type Headings } from '@config';
import { highlightUrl } from '@utils/urlHelpers';

export interface Props {
	headings?: Headings | undefined;
}

const { headings } = Astro.props satisfies Props;
const activePage = Astro.url.pathname;
---

{
	headings ? (
		<nav class="ListNavigation">
			<h2 class="ListNavTitle">Navighează către:</h2>
			<ol class="ListNav">
				{headings.map((heading) => (
					<li class:list={highlightUrl(`#${heading.slug}`, 'ListNavItem', 'Active', activePage)}>
						<a class="ListNavLink" href={`#${heading.slug}`} title={`Mergi direct la secțiunea ${heading.text}`}>
							{heading.text}
						</a>
					</li>
				))}
			</ol>
		</nav>
	) : (
		<nav class="ListNavigation">
			<h2 class="ListNavTitle">Această pagină nu are navigare internă.</h2>
		</nav>
	)
}
