---
/**
 * Renders a navigation menu based on a provided context.
 * @component
 * @example
 * ```astro
 * <ResourceTOC resourceId={resourceId} />
 * <ResourceTOC />
 * ```
 * @property {number} [resourceId] - An object representing the current resource ID.
 * @returns {astro.AstroNode} The rendered navigation menu.
 */

import { highlightUrl } from '@utils/urlHelpers';
import { taxonomiesTree } from '@utils/getSortedItems';

const { resourceId } = Astro.props;
const activePage = Astro.url.pathname;
---

{resourceId && `<pre>Resource ID: ${resourceId}</pre>`}

<nav class="ListNavigation" transition:name="ListNavigation">
	{
		taxonomiesTree &&
			taxonomiesTree.map((item) => {
				return (
					<details
						class:list={highlightUrl(`/${item.section.slug}`, 'ListNavContainer', 'ActiveListNavContainer', activePage)}
						{...(highlightUrl(`/${item.section.slug}`, 'false', 'true', activePage)[1] === 'true' && {
							'aria-expanded': 'true',
							'open': 'open',
						})}
					>
						<summary class="ListNavSummary">
							<h2 class="ListNavTitle" id="treeTitle">
								{item.section.title} <em>({item.resources.length})</em>
							</h2>
						</summary>
						<div class="ListNavContent">
							<ol class="ListNav">
								{item.categories &&
									item.categories.map((category) => (
										<li class:list={highlightUrl(`/${item.section.slug}/${category.slug}`, 'ListNavItem', 'ActiveListNav', activePage)}>
											<a class="ListNavLink" href={`/${item.section.slug}/${category.slug}`} title={`Vezi resursele din categoria ${category.title}`}>
												{category.title} <em>({category.resources.length})</em>
											</a>
											{category.subcategories && (
												<ol class="ListSubNav">
													{category.subcategories.map((subcategory) => (
														<li
															class:list={highlightUrl(
																`/${item.section.slug}/${category.slug}/${subcategory.slug}`,
																'ListSubNavItem',
																'ActiveListNav',
																activePage
															)}
														>
															<a
																class="ListSubNavLink"
																href={`/${item.section.slug}/${category.slug}/${subcategory.slug}`}
																title={`Vezi resursele din subcategoria ${subcategory.title}`}
															>
																{subcategory.title} <em>({subcategory.resources.length})</em>
															</a>
														</li>
													))}
												</ol>
											)}
										</li>
									))}
							</ol>
						</div>
					</details>
				);
			})
	}
</nav>
