---
/**
 * Renders an Astro Layout that renders an HTML page with metadata for SEO purposes and slots in the content of each page.
 *
 * @component
 * @example
 * ```astro
 * <Layout
 *   title={title}
 *   description={description}
 *   ogImage={ogImage}
 *   modDate={modDate}
 *   canonical={canonical}
 *   template={template}
 *   activeMenu={activeMenu}
 *   breadcrumbArray={breadcrumbArray}
 * />
 * ```
 * @astroProps
 * @prop {string} title - A string representing the title of the page
 * @prop {string} description - A string representing the description of the page
 * @prop {string} ogImage - An optional string representing the URL of the Open Graph image
 * @prop {string} modDate - An optional string representing the modification date of the page
 * @prop {string} canonical - An optional string representing the canonical URL of the page
 * @prop {string} template - A string representing the template used for the page
 * @prop {string} [activeMenu] - An optional string representing the active menu item
 * @prop {BreadcrumbArray} breadcrumbArray - An array of objects representing the breadcrumb navigation
 * @returns {astro.AstroNode} The rendered HTML layout with metadata and components.
 */

import '../style/style.scss';
import {
	ACCENT_COLOR,
	type BreadcrumbArray,
	CONTACT_EMAIL,
	ENV,
	FACEBOOK_APP_ID,
	LANGUAGE,
	LANGUAGE_EXTENDED,
	OG_IMAGE,
	OG_IMAGE_ALT,
	SITE_DESCRIPTION,
	SITE_NAME,
	SITE_TITLE,
	TWITTER_CREATOR,
	TWITTER_SITE
} from '../config';
import Analytics from '../components/Analytics.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
	ogImage?: string;
	modDate?: string;
	canonical?: string;
	template: string;
	activeMenu?: string | undefined;
	breadcrumbArray: BreadcrumbArray;
}

const buildDate = __DATE__;

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	ogImage = OG_IMAGE,
	modDate = buildDate,
	canonical = Astro.url,
	template,
	activeMenu,
	breadcrumbArray
} = Astro.props;

---

<!DOCTYPE html>
<html lang={LANGUAGE}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>

		<!-- SEO -->
		<link rel="canonical" href={canonical} />
		<meta name="description" content={description}>
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />

		<meta property="og:site_name" content={SITE_NAME} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:url" content={canonical} />
		<meta property="og:locale" content={LANGUAGE_EXTENDED} />
		<meta property="og:image" content={ogImage} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content={OG_IMAGE_ALT}>
		<meta property="og:email" content={CONTACT_EMAIL} />
		<meta property="article:publisher" content={SITE_NAME} />
		<meta property="fb:app_id" content={FACEBOOK_APP_ID} />
		<meta property="twitter:site" content={TWITTER_SITE} />
		<meta property="twitter:creator" content={TWITTER_CREATOR} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="article:published_time" content={modDate} />
		<meta property="article:modified_time" content={modDate} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00214d" />
		<meta name="msapplication-TileColor" content={ACCENT_COLOR} />
		<meta name="apple-mobile-web-app-title" content={`${SITE_NAME} - ${title}`} />
		<meta name="application-name" content={SITE_NAME} />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="theme-color" content={ACCENT_COLOR} />

		<link rel="author" href="https://resurse.dev/humans.txt" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="prefetch" href="/font/atkinson-hyperlegible-regular.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="prefetch" href="/font/atkinson-hyperlegible-bold.woff2" as="font" type="font/woff2" crossorigin />

		<ViewTransitions />
	</head>
	<body class:list={[template]}>
		<a id="skip" href="#hero" title="Mergi direct la conținutul acestei pagini">Mergi la conținut</a>
		<div class="Framework">
			<Header breadcrumbArray={breadcrumbArray} activeMenu={activeMenu} />
			<slot />
			<Footer activeMenu={activeMenu} />
			<p class="TemporaryMessage">Template: <strong>{template}</strong> built at <em>{buildDate}</em> on ENV = <strong>{ENV}</strong>.</p>
		</div>
		<Analytics />
	</body>
</html>
