---
import '../style/style.scss';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {ViewTransitions} from 'astro:transitions';

interface Props {
	title: string;
	template: string;
}

const { title, template } = Astro.props;
const siteName = "resurse.dev";
const contactEmail = "contact@resurse.dev";
const language = "ro"; // 🛑 @TODO: multi-language support with i18n
const languageExtended = "ro_RO";
const facebookAppId = ""; // 🛑 @TODO: facebook app ID
const twitterSite = ""; // 🛑 @TODO: twitter site
const twitterCreator = ""; // 🛑 @TODO: twitter creator
const accentColor = "#2f8ded";
const ogImageAlt = ""; // 🛑 @TODO: OG Image ALT

---

<!DOCTYPE html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>

		<!-- SEO -->
		<link rel="canonical" href={Astro.request.url} />
		<meta name="description" content="@TODO">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
		<meta name="og:site_name" content={siteName} />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content={languageExtended} />
		<meta name="og:image:width" content="1200" />
		<meta name="og:image:height" content="630" />
		<meta name="og:image:alt" content={ogImageAlt}>
		<meta name="og:email" content={contactEmail} />
		<meta name="article:publisher" content={siteName} />
		<meta name="fb:app_id" content={facebookAppId} />
		<meta name="twitter:site" content={twitterSite} />
		<meta name="twitter:creator" content={twitterCreator} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="article:published_time" content="@TODO2021-09-19T19:35:55+03:00" />
		<meta name="article:modified_time" content="@TODO2021-09-19T19:35:55+03:00" />
		
		<!-- @TODO: NICE: design-ul favicon-urilor și a identității site-ului -->
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00214d" />
		<meta name="msapplication-TileColor" content={accentColor} />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="apple-mobile-web-app-title" content={`${siteName} - ${title}`} />
		<meta name="application-name" content={siteName} />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="theme-color" content={accentColor} />
		<link rel="preload" href="/font/atkinson-hyperlegible-regular.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/font/atkinson-hyperlegible-bold.woff2" as="font" type="font/woff2" crossorigin />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
	</head>
	<body class={template}>
		<a id="skip" href="#hero" title="Mergi direct la conținutul acestei pagini">Mergi la conținut</a>
		<div class="Framework">
			<Header />
			<slot />
			<Footer />
		</div>
		<script type="module">
			import '/js/script.js';
		</script>
	</body>
</html>
